* {
  all: unset;
  font-family: "BigBlueTerm437 Nerd Font Mono";
}

.sysmon {
  color: #107CFA;
  background-color: #000;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px 2px;
}

.sysinfo-group {
  all: unset;
  border: none;
}

.sysinfo-symbol {
  color: #fff;
}
